services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres_db
    environment:
      POSTGRES_DB: EventScheduler
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - '5432:5432'

  mongodb:
    image: mongo
    container_name: mongo_db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
      MONGO_INITDB_DATABASE: EventScheduler
    ports:
      - '27017:27017'

  redis:
    image: redis:7-alpine
    restart: always
    container_name: redis_cache
    ports:
      - '6379:6379'

  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq_broker
    ports:
      - '15672:15672'
      - '5672:5672'
